<div class="pag">
  <div>
    <app-nav-admin></app-nav-admin>
  </div>

  <DIV>
    <div class="area">
      <div class="area1">

        <div class="search">
          <input type="text" placeholder="Pesquisar...">
          <button class="search-button">Buscar</button>

          <div class="page">
            <h2><img src="assets/Imagens/privado.png" alt="hide">Contatos Ocultos <span>( {{amount}} )</span></h2>
            <div class="page2">
              <table>
                <thead>
                  <tr>
                    <th>Nome</th>
                    <th>Email</th>
                    <th>Telefone</th>
                    <th></th>
                  </tr>
                </thead>

                <tbody>
                  <tr *ngFor="let contato of contatosHide">
                    <td class="image"> <img src="assets/foto/foto.png" alt=""></td>
                    <td>{{contato.nome_pessoa}}</td>
                    <td>{{contato.email}}</td>
                    <td>{{contato.telefone}}</td>
                  </tr>
                </tbody>

              </table>
              <button > Próxima Página >></button>
            </div>
          </div>
        </div>
      </div>

    </div>
