<div class="search">
  <input type="text" placeholder="Pesquisar...">
  <button class="search-button">Buscar</button>

  <div class="page">
    <h2><img src="assets/Imagens/privado.png" alt="hide">Contatos Ocultos <span>( {{500}} )</span></h2>
    <div class="page2">
      <table>

        <tr>
          <th>Nome</th>
          <th>Email</th>
          <th>Telefone</th>
        </tr>

        <tr>
          <td>Jaqueline Soares Silva Nunes</td>
          <td>jaquelinesoares.habitacional.net.br</td>
          <td>(79) 99994-8831</td>

        </tr>
        <tr>
          <td>Jaqueline Soares Silva Nunes</td>
          <td>jaquelinesoares.habitacional.net.br</td>
          <td>(79) 99994-8831</td>

        </tr>
        <!-- <tr *ngFor="let pessoa of pessoa">
          <td>{{pessoa.nome_pessoa}}</td>
          <td>{{pessoa.email}}</td>
          <td>{{pessoa.telefone}}</td>
        </tr> -->
      </table>
      <button> Próxima Página >></button>
    </div>
  </div>
</div>