<nav class="nav-admin">
  <table>
    <tbody>
      <tr (click)="navegarParaHome()">
        <td><img src="assets/Imagens/home-b.png" alt="home"><a>Home</a></td>
      </tr>
      <tr (click)="navegarParaContatosAdmin()">
        <td><img src="assets/Imagens/privado.png" alt="hide"><a>Contatos</a></td>
      <tr (click)="navegarParaAddContato()">
        <td><img src="assets/Imagens/adicionar-contato-b.png" alt="add-contato"><a>Adicionar Contato</a></td>
      <tr (click)="navegarParaSetores()">
        <td><img src="assets/Imagens/setor.png" alt="setor"><a>Gerenciar Setor</a></td>
      <tr (click)="navegarParaRamais()">
        <td><img src="assets/Imagens/ramal-b.png" alt="ramal"><a>Gerenciar Ramal</a></td>
      <tr (click)="navegarParaUsuarios()">
        <td><img src="assets/Imagens/user-b.png" alt="usuario"><a>Gerenciar Usuários</a></td>
    </tbody>
  </table>
</nav>