.nav-admin {
  background-color: rgb(212, 222, 245);
  color: rgb(15, 29, 105);
  display: block;
  font-size: 15px;
  width: 13.8rem;
  text-align: left;
  height: calc(100vh - 3.5rem);
  z-index: 2;
  position: fixed;
  top: 4.49rem;
  left: 0;
  font-weight: bolder;
  overflow-y: auto;
}

.nav-admin a {
  margin-left: 0.3rem;
}
.corpo-nav{
  display: grid;
}

table tr {
  cursor: pointer;
  outline: none;
  display: grid;
  padding: 0.3rem;
  margin: 0rem;
}

table tr:hover {
  background-color: #c0d2ec;
  transition: background-color 0.5s;
  width: 13rem;
  font-weight: 600;
}

td {
  margin: 0.7rem;
  display: inline-flex;
  align-items: center;
}
