<nav class="nav-admin">
  <table>
    <tbody>
      <tr>
        <td><img src="assets/Imagens/home-b.png" alt="home"><a (click)="navegarParaHome()">Home</a>
        </td>
      </tr>
      <tr>
        <td><img src="assets/Imagens/setor.png" alt="setor"><a (click)="navegarParaSetores()">Setor</a></td>
      <tr>
        <td><img src="assets/Imagens/ramal-b.png" alt="ramal"><a (click)="navegarParaRamais()">Ramal</a></td>
      <tr>
        <td><img src="assets/Imagens/user-b.png" alt="usuario"><a (click)="navegarParaUsuarios()">Usuario</a></td>
      <tr>
        <td><img src="assets/Imagens/privado.png" alt="hide"><a (click)="navegarParaContatosHide()">Contatos Ocultos</a></td>
      <tr>
        <td><img src="assets/Imagens/adicionar-contato-b.png" alt="add-contato"><a (click)="navegarParaAddContato()">Adicionar
            Contato</a></td>
    </tbody>
  </table>
</nav>