<div class="container">
  <nav class="pagina-pessoa">
    <table class="title-contact custom-color">
      <tbody>
        <tr>
          <td>
            <h1 class="nome">{{nome}}</h1>
          </td>
          <td rowspan="2">
            <div class="image-container">
              <img src="assets/foto/foto.png" alt="foto-contato">
            </div>
          </td>
        </tr>
        <tr>
          <td class="informacoes">
            <span>{{nome_setor }}  {{ sigla }}</span>
            <span> {{ramal}}</span>
          </td>
        </tr>
      </tbody>

    </table>

    <table>
      <thead>
        <tr>
          <th colspan="2">Informações</th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <td>
            <h6>E-mail</h6>
          </td>
          <td>{{email}}</td>
        </tr>
        <tr>
          <td>
            <h6>Celular 1</h6>
          </td>
          <td  #celular1Input>{{celular1}}</td>
        </tr>
        <tr>
        <td>
            <h6>Celular 2</h6>
          </td>
          <td  #celular2Input >{{celular2}}</td>
        </tr>
        <tr>
          <td>
              <h6>Celular 3</h6>
            </td>
            <td #celular3Input>{{celular3}}</td>
          </tr>
        <tr>
          <td>
            <h6>Telefone</h6>
          </td>
          <td #telefoneInput  >{{telefone}}</td>
        </tr>
      </tbody>
      <thead>
        <tr>
          <th colspan="2">Endereço</th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <td>
            <h6>Logradouro</h6>
          </td>
          <td>{{logradouro}}</td>
        </tr>
        <tr>
          <td>
            <h6>Bairro</h6>
          </td>
          <td>{{bairro}}</td>
        </tr>
        <tr>
          <td>
            <h6>Cidade</h6>
          </td>
          <td>{{cidade}}</td>
        </tr>
        <tr>
          <td>
            <h6>Estado</h6>
          </td>
          <td>{{estado}} {{uf}}</td>
        </tr>
        <tr>
          <td>
            <h6>CEP</h6>
          </td>
          <td #cepInput>{{cep}}</td>
        </tr>

      </tbody>


    </table>
  </nav>
</div>
