
<div class="container">
  <nav class="pagina-pessoa">


    <!-- <table class="title-contact custom-color">
      <tbody>
        <tr>
          <td *ngFor="let pessoa of contato">
            <h1>{{pessoa.nome_pessoa}}</h1>
          </td>
          <td rowspan="2">
            <div class="image-container">
              <img src="assets/foto/foto.png" alt="foto-contato">
            </div>
          </td>
        </tr> -->
        <!-- <tr>
          <td class="informacoes">
            <span>{{setor.nome_setor}} - {{setor.sigla_setor}}</span>
            <span>Ramal: {{ramal.numero_ramal}}</span>
          </td>
        </tr> -->
      <!-- </tbody>

    </table>

    <table>
      <thead>
        <tr>
          <th colspan="2">Informações</th>
        </tr>
      </thead>

      <tbody *ngFor="let pessoa of contato">
        <tr>
          <td>
            <h6>E-mail</h6>
          </td>
          <td>{{pessoa.email}}</td>
        </tr>
        <tr>
          <td>
            <h6>Celular Corporativo</h6>
          </td>
          <td>{{pessoa.celular_corporativo}}</td>
        </tr>
        <tr>
          <td>
            <h6>Celular Pessoal</h6>
          </td>
          <td>{{pessoa.celular_pessoal}}</td>
        </tr>
        <tr>
          <td>
            <h6>Telefone</h6>
          </td>
          <td>{{pessoa.telefone}}</td>
        </tr>
      </tbody>
    </table> -->
      <!-- <thead>
        <tr>
          <th colspan="2">Endereço</th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <td>
            <h6>Logradouro</h6>
          </td>
          <td>{{endereco.logradouro}}</td>
        </tr>
        <tr>
          <td>
            <h6>Bairro</h6>
          </td>
          <td>{{endereco.bairro}}</td>
        </tr>
        <tr>
          <td>
            <h6>Cidade</h6>
          </td>
          <td>{{endereco.cidade}}</td>
        </tr>
        <tr>
          <td>
            <h6>Estado</h6>
          </td>
          <td>{{endereco.estado}} - {{endereco.uf}}</td>
        </tr>
        <tr>
          <td>
            <h6>CEP</h6>
          </td>
          <td>{{endereco.cep}}</td>
        </tr>

      </tbody>

    </table> -->
  </nav>
  </div>
