<div class="container">
  <nav class="pagina-pessoa">
    <table class="title-contact custom-color">
      <tbody>
        <tr>
          <td>
            <h1 class="nome">{{nome}}</h1>
          </td>
          <td rowspan="2">
            <div class="image-container">
              <img src="assets/foto/foto.png" alt="foto-contato">
            </div>
          </td>
        </tr>
        <tr>
          <td class="informacoes">
            <span>{{nome_setor }} {{ sigla }}</span>
            <span> {{ramal}}</span>
          </td>
        </tr>
      </tbody>

    </table>

      <fieldset class="info">
        <legend>
          <span >Informações</span>
        </legend>

        <table>
          <thead>
            <tr>
              <th class="coluna"></th>
              <th></th>
            </tr>
          </thead>

          <tbody>
            <tr>
              <td class="coluna">
                E-mail:
              </td>
              <td>{{email}}</td>
            </tr>
            <tr>
              <td class="coluna">
                Celular 1:
              </td>
              <td #celular1Input>{{celular1}}</td>
            </tr>
            <tr>
              <td class="coluna">
                Celular 2:
              </td>
              <td #celular2Input>{{celular2}}</td>
            </tr>
            <tr>
              <td class="coluna">
                Celular 3:
              </td>
              <td #celular3Input>{{celular3}}</td>
            </tr>
            <tr>
              <td class="coluna">
                Telefone:
              </td>
              <td #telefoneInput>{{telefone}}</td>
            </tr>
          </tbody>
        </table>
      </fieldset>

    <fieldset class="info">
      <legend>
        <span >Endereço</span>
      </legend>

        <table>
          <thead>
            <tr>
              <th class="coluna"></th>
              <th></th>
            </tr>
          </thead>

          <tbody>
            <tr>
              <td class="coluna">
                Logradouro:
              </td>
              <td>{{logradouro}}</td>
            </tr>
            <tr>
              <td class="coluna">
                Bairro:
              </td>
              <td>{{bairro}}</td>
            </tr>
            <tr>
              <td class="coluna">
                Cidade:
              </td>
              <td>{{cidade}}</td>
            </tr>
            <tr>
              <td class="coluna">
                Estado:
              </td>
              <td>{{estado}} {{uf}}</td>
            </tr>
            <tr>
              <td class="coluna">CEP:</td>
              <td #cepInput>{{cep}}</td>
            </tr>

          </tbody>

        </table>

    </fieldset>
  </nav>
</div>
