
<div class="container">
<nav class="pagina-pessoa">


  <table class="title-contact custom-color">
    <tbody>
      <tr>
        <td>
          <h1>Larissa Soares</h1>
        </td>
        <td rowspan="2">
          <div class="image-container">
            <img src="assets/foto/fabiana.avif" alt="foto-contato">
          </div>
        </td>
      </tr>
      <tr>
        <td class="informacoes">
          <span>Orçamento - OR</span>
          <span>Ramal: 9032</span>
        </td>
      </tr>
    </tbody>

  </table>

  <table>
    <thead>
      <tr>
        <th colspan="2">Informações</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td>
          <h6>E-mail:</h6>
        </td>
        <td>larissa.habitacional.net.br</td>
      </tr>
      <tr>
        <td>
          <h6>Celular Corporativo:</h6>
        </td>
        <td>(79) 99998-8888</td>
      </tr>
      <tr>
        <td>
          <h6>Celular Pessoal:</h6>
        </td>
        <td>(79) 99998-8888</td>
      </tr>
      <tr>
        <td>
          <h6>Telefone:</h6>
        </td>
        <td>(79) 99998-8888</td>
      </tr>
    </tbody>

    <thead>
      <tr>
        <th colspan="2">Endereço</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td>
          <h6>Logradouro: </h6>
        </td>
        <td>Rua Claúdio Batista, 88</td>
      </tr>
      <tr>
        <td>
          <h6>Bairro:</h6>
        </td>
        <td>Santo Antônio</td>
      </tr>
      <tr>
        <td>
          <h6>Cidade:</h6>
        </td>
        <td>Aracaju</td>
      </tr>
      <tr>
        <td>
          <h6>Estado:</h6>
        </td>
        <td>Sergipe - SE</td>
      </tr>
      <tr>
        <td>
          <h6>CEP:</h6>
        </td>
        <td>49066-900</td>
      </tr>

    </tbody>

  </table>
</nav>
</div>
