<nav class="pagina-pessoa">

  <!-- <div class="title-contact">
    <h1>Larissa Soares</h1>
    <div class="informacoes">
      <span>Orçamento - OR</span>
      <span>Ramal: 9032</span>

    </div>
    <img src="assets/foto/fabiana.avif" alt="foto-contato">
  </div> -->
  <table class="title-contact">
    <tbody>
      <tr>
        <td>
          <h1>Larissa Soares</h1>
        </td>
        <td rowspan="2">
        <div class="image-container">
          <img src="assets/foto/fabiana.avif" alt="foto-contato">
        </div>
      </td>
    </tr>
      <tr>
        <td class="informacoes">
          <span>Orçamento - OR</span>
          <span>Ramal: 9032</span>
        </td>
      </tr>
    </tbody>

  </table>

  <table>
    <thead>
      <tr>
        <th colspan="2">Informações</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td>E-mail:</td>
        <td>larissa.habitacional.net.br</td>
      </tr>
      <tr>
        <td>Celular Corporativo:</td>
        <td>(79) 99998-8888</td>
      </tr>
      <tr>
        <td>Celular Pessoal:</td>
        <td>(79) 99998-8888</td>
      </tr>
      <tr>
        <td>Telefone:</td>
        <td>(79) 99998-8888</td>
      </tr>
    </tbody>
  </table>
  <table>
    <thead>
      <tr>
        <th colspan="2">Endereço</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td>Logradouro: </td>
        <td>Rua Claúdio Batista</td>
      </tr>
      <tr>
        <td>Número: </td>
        <td>88</td>
      </tr>
      <tr>
        <td>Bairro: </td>
        <td>Santo Antônio</td>
      </tr>
      <tr>
        <td>Cidade:</td>
        <td>Aracaju</td>
      </tr>
      <tr>
        <td>UF:</td>
        <td>SE</td>
      </tr>
      <tr>
        <td>Estado:</td>
        <td>Sergipe</td>
      </tr>
      <tr>
        <td>CEP:</td>
        <td>49066-900</td>
      </tr>

    </tbody>

  </table>
</nav>
