<nav class="pagina-pessoa">

  <h1>Larissa Soares</h1>
  <table>

    <thead>
      <tr>
        <th colspan="2">Informações</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td>E-mail:</td>
        <td>larissa.habitacional.net.br</td>
      </tr>
      <tr>
        <td>Celular Corporativo:</td>
        <td>(79) 99998-8888</td>
      </tr>
      <tr>
        <td>Celular Pessoal:</td>
        <td>(79) 99998-8888</td>
      </tr>
      <tr>
        <td>Telefone:</td>
        <td>(79) 99998-8888</td>
      </tr>
      <tr>
        <td></td>
        <td></td>
      </tr>

    </tbody>

  </table>


  <table>

    <thead>
      <tr>
        <th colspan="2">Endereço</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td>Logradouro: </td>
        <td>larissa.habitacional.net.br</td>
      </tr>
      <tr>
        <td>Número: </td>
        <td>88</td>
      </tr>
      <tr>
        <td>Bairro</td>
        <td>(79) 99998-8888</td>
      </tr>
      <tr>
        <td>Telefone:</td>
        <td>(79) 99998-8888</td>
      </tr>
      <tr>
        <td></td>
        <td></td>
      </tr>

    </tbody>

  </table>
</nav>
