<div class="container">
  <nav class="nav-aniversariantes">
    <app-nav-aniversariantes></app-nav-aniversariantes>
  </nav>

  <nav class="nav-principal">

    <div class="principal">
      <div class="search">
        <input type="text" placeholder="Pesquisar...">
        <button class="search-button">Buscar</button>

        <div class="page">
          <h2>Contatos <span>( {{500}} )</span></h2>
          <div class="page2">

            <table>
              <thead>

                <tr>
                  <th></th>
                  <th>Nome</th>
                  <th>Email</th>
                  <th>Telefone</th>
                </tr>
              </thead>
              <tbody>

                <tr>
                  <td class="image"> <img src="assets/foto/denir.jpeg" alt=""></td>
                  <td>Denir Araujo</td>
                  <td>denir.habitacional.net.br</td>
                  <td>(79) 99994-8831</td>

                </tr>
                <tr>
                  <td class="image"> <img src="assets/foto/fabiana.avif" alt=""></td>
                  <td>Jaqueline Soares Soares Silva Nunes</td>
                  <td>jaquelinesoares.habitacional.net.br</td>
                  <td>(79) 99994-8831</td>

                </tr>

                <tr>
                  <td class="image"> <img src="assets/foto/daniel.jpg" alt=""></td>
                  <td>Daniel Barbosa</td>
                  <td>daniel.habitacional.net.br</td>
                  <td>(79) 99994-8831</td>

                </tr>

                <tr>
                  <td class="image"> <img src="assets/foto/foto.png" alt=""></td>
                  <td>Larissa</td>
                  <td>larissa.habitacional.net.br</td>
                  <td>(79) 99994-8831</td>

                </tr>
                <tr>
                  <td class="image"> <img src="assets/foto/fabiana.avif" alt=""></td>
                  <td>Jussara</td>
                  <td>jussara.habitacional.net.br</td>
                  <td>(79) 99994-8831</td>

                </tr>

                <tr>
                  <td class="image"> <img src="assets/foto/foto.png" alt=""></td>
                  <td>Camila Souza</td>
                  <td>camila.habitacional.net.br</td>
                  <td>(79) 99994-8831</td>

                </tr>
              </tbody>

            </table>
            <button>
              Próxima Página >></button>
          </div>
        </div>
      </div>
    </div>
  </nav>
</div>
