<div class="container">
  <nav class="nav-aniversariantes">
    <app-nav-aniversariantes></app-nav-aniversariantes>
  </nav>

  <nav class="nav-principal">

    <div class="principal">
      <div class="search">
        <input type="text" placeholder="Pesquisar...">
        <button class="search-button">Buscar</button>

        <div class="page">
          <button (click)="getContatos()">Obter Contatos</button>
          <h2>Contatos <span>( {{500}} )</span></h2>
          <div class="page2">
            <table>
              <thead>

                <tr>
                  <th></th>
                  <th>Nome</th>
                  <th>Email</th>
                  <th>Telefone</th>
                </tr>
              </thead>
              <tbody>

                <tr>
                  <td class="image"> <img src="assets/foto/denir.jpeg" alt=""></td>
                  <td>Denir Araujo</td>
                  <td>denir.habitacional.net.br</td>
                  <td>(79) 99994-8831</td>

                </tr>

              </tbody>

            </table>
            <button>
              Próxima Página >></button>
          </div>
        </div>
      </div>
    </div>
  </nav>
</div>
