.container {
  display: flex; /* Torna os elementos filhos flexíveis */
  position: relative;
}

.nav-aniversariantes,
.nav-principal {
  flex: 0;
}
.disabled {
  opacity: 0.5;
  pointer-events: none; /* Isso impede que o clique seja capturado no elemento */
}

h2 {
  text-align: left;
  font-size: 16px;
  color: rgb(109, 109, 109);
}

.principal {
  margin: 1rem;
  display: block;
  flex: 1;
  position: relative;
}

.page2{
  display: inline-block;
}

table {
  margin: 1rem;
  padding: 0.2rem;
  background-color: white;
  color: rgb(44, 43, 43);
  display: inline-table;
  border-radius: 0.2rem;
  text-align: center;
  border-spacing: 20px;
  border-collapse: collapse;
  align-content: center;
  align-items: center;
  width: 40rem;
}

.nome {
  justify-items: left;
  display: flex;
  justify-content: center;
}

th {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding: 0.3rem;
}
tr:first-child {
  border-top: 2px;
}

tr:hover {
  background-color: #f3f5ff;
  /* Altera a cor de fundo ao passar o mouse sobre a linha */
}
td {
  font-size: 12px;
  font-family: 'Roboto Serif', serif;
  padding: 0.5rem;
  white-space: nowrap;
  border-top: solid 0.1rem rgb(224, 224, 224);
}

button {
  border: none;
  border-radius: 1rem;
  padding: 0.17rem 0.5rem;
  background-color: rgb(143, 174, 236);
  color: rgb(253, 253, 253);
  cursor: pointer;
}

/* Campo de busca */
.search-button {
  cursor: pointer;
}

.search {
  text-align: right;
  display: block;
}

input {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: rgb(235, 237, 243);
  border-radius: 0.8rem;
  padding: 0.2rem 0.8rem;
  width: 20%;
  border: none;
  outline: none;

}
input:focus {
  border: 1px solid blue;
}

img{
  width: 3rem; /* Ajusta a largura da imagem para preencher o contêiner */
  height: 3rem;
  object-fit: cover;
  padding: 0rem;
}
