<div class="pag">
  <div>
    <app-nav-admin></app-nav-admin>
  </div>

  <DIV>
    <div class="area1">
      <div class="top-options">
        <div class="nav-options">
          <div class="options">
            <button (click)="getContatos()">Todos</button>
            <button (click)="getContatosFuncionarios()">Funcionários</button>
            <button (click)="getContatosHides()">Ocultos</button>
          </div>

          <div class="search">
            <input type="text" placeholder="Pesquisar..." [(ngModel)]="searchTerm">
            <button class="search-button" (click)="search()">Buscar</button>
          </div>
        </div>

      </div>
      <span class="retorno">{{retorno}}</span>
      <div class="page">
        <div class="top">

          <h2>Contatos<span> ({{amount}})</span></h2>
          <div class="add-contato">
            <img src="assets/Imagens/adicionar-contato-b.png" alt="add-contato" (click)="navegarParaAddContato()">
          </div>
        </div>

        <div class="page2">
          <table>
            <thead>
              <tr>
                <th></th>
                <th>Nome</th>
                <th>Email</th>
                <th>Celular</th>

                <th></th>
              </tr>
            </thead>

            <tbody>
              <tr
                *ngFor="let contato of contatosHide.slice((currentPage-1) * itemsPerPage, currentPage * itemsPerPage)">

                <td class="image" (click)="informacoes(contato)"> <img src="assets/foto/foto.png" alt=""></td>
                <td (click)="informacoes(contato)" class="truncate">{{contato.nome_pessoa}}</td>
                <td (click)="informacoes(contato)" class="truncate">{{contato.email}}</td>
                <td (click)="informacoes(contato)">{{contato.celular1}}</td>
                <td><img class="up" src="assets/img/editar.png" alt="editar" (click)="alterarContato(contato)"><img
                    class="up" src="assets/img/lixo.png" alt="excluir" (click)="excluir(contato)"></td>
              </tr>
            </tbody>

          </table>
          <button>
            <span (click)="previousPage() " [class.disabled]="currentPage === 1">
              << </span>
                Próxima Página
                <span (click)="nextPage()" [class.disabled]="currentPage === totalPages"> >> </span>
          </button>
        </div>
      </div>



    </div>