<nav class="nav-admin">
  <table>
    <tbody>
      <tr>
        <td><img src="assets/Imagens/home-b.png"
          alt="home"
          (mouseover)="changeImage('assets/Imagens/home.png')"
          (mouseout)="changeImage('assets/Imagens/home.png')"
          >
          <a>Home</a>
        </td>
      </tr>
      <tr>
        <td><img src="assets/Imagens/setor.png" alt="setor"><a>Setor</a></td>
      <tr>
        <td><img src="assets/Imagens/ramal-b.png" alt="ramal"><a >Ramal</a></td>
      <tr>
        <td><img src="assets/Imagens/user-b.png" alt="usuario"><a>Usuario</a></td>
      <tr>
        <td><img src="assets/Imagens/privado.png" alt="hide"><a>Contatos Ocultos</a></td>
      <tr>
        <td><img src="assets/Imagens/adicionar-contato-b.png" alt="add-contato"><a>Adicionar Contato</a></td>
    </tbody>
  </table>
</nav>
