.nav-admin {
    background-color: rgb(95, 127, 185);
    color: white;
    display: grid;
    width: 12rem;
    text-align: left;
    margin: 0 4rem 0 0;
    height: 200px;
}

a {
    text-transform: capitalize;
    margin: 0.7rem;
    font-size: 1rem;

    /* font-family: 'Times New Roman', Times, serif; */
}

table tr{
  display: -moz-inline-grid;
  padding: 0rem 0 1.2rem 0;
}
td {

}
