.nav-admin {
    background-color: rgb(95, 127, 185);
    color: white;
    display: grid;
    padding: 1rem 0 20rem 0;
    width: 12rem;
    text-align: left;
    margin: 0 4rem 0 0;
    text-transform: capitalize;
    height: auto;
}

a {
    margin: 0.7rem;
    font-size: 1rem;
    padding: 0 1rem;
    font-family: 'Times New Roman', Times, serif;
}