.nav-admin {
  background-color: rgb(223, 227, 231);
  color: rgb(15, 29, 105);
  display: block;
  width: 13.8rem;
  text-align: left;
  height: 70rem;
  z-index: 2;
}

a {
  text-transform: capitalize;
  font-size: 1rem;
}

table tr {
  cursor: pointer;
  outline: none;
  display: grid;
  padding: 0.3rem;
  margin: 0rem;
}

table tr:hover {
  background-color: #628cca;
  color: #ffffff;
  transition: background-color 0.5s;
  width: 13rem;

}

td {
  margin: 0.7rem;
  display: inline;
}