<div class="pag  main-content">
  <div>
    <app-nav-admin></app-nav-admin>
  </div>

  <DIV>
    <div class="area admin">
      <h2 id="usuarios"><img src="assets/Imagens/user-b.png" alt="usuario">Usuários</h2>

      <div class="container">

        <div class="tabela">

          <div class="container">
            <table>
              <thead>
                <tr>
                  <th>Nome</th>
                  <th>Usuário</th>
                  <th class="lixeira"></th>
                </tr>
              </thead>

              <tbody>
                <tr *ngFor="let user of users" (click)="selecionarUsuario(user)">
                  <td class="truncate">{{user.nome}}</td>
                  <td>{{user.usuario}}</td>
                  <td class="lixeira lix"><img src="assets/img/lixo.png" alt="setor" (click)="excluirUsuario(user)">
                  </td>
                </tr>
                <tr *ngIf="users.length === 0" class="no-data">
                  <td colspan="3">Não há setores cadastrados.</td>
                </tr>
                <tr *ngIf="users.length < 5 && users.length !== 0">
                  <td colspan="3" [ngStyle]="{'height': getTdHeight(users.length)}"></td>
                </tr>
              </tbody>
            </table>

            <div class="add">
              <form>

                <div class="caixa">
                  <label for="nome" style="padding-right: 1.1rem;">Nome</label>
                  <input type="text" placeholder="Ex.: Mariana Silva" [(ngModel)]="nome" name="nome">
                </div>

                <div class="caixa">
                  <label for="usuario" style="padding-right: 0.5rem;">Usuário</label>
                  <input type="text" placeholder="Ex.: marianasilva" [(ngModel)]="usuario" name="usuario">
                </div>

                <div class="caixa">
                  <label for="senha" style="padding-right: 1.3rem;">Senha</label>
                  <input type="password" [(ngModel)]="senha" name="senha" placeholder="Ex.: 123Senha">
                </div>

                <div class="button-add">
                  <img class="clear" src="assets/img/borracha.png" alt="limpar" (click)="clear()">
                  <button (click)="salvar()"> Salvar </button>
                </div>
              </form>

            </div>
          </div>
        </div>
      </div>
    </div>
  </DIV>

</div>
