<div class="pag">
  <div>
    <app-nav-admin></app-nav-admin>
  </div>

  <DIV>
    <div class="area">
      <div class="area1">

        <h2 id="usuarios"><img src="assets/Imagens/user-b.png" alt="usuario">Usuários</h2>
        <div class="container">

          <table>
            <thead>
              <tr>
                <th>Nome</th>
                <th>Usuário</th>
              </tr>
            </thead>

            <tbody>
              <tr *ngFor="let user of users" (click)="selecionarUsuario(user)">
                <td>{{user.nome}}</td>
                <td>{{user.usuario}}</td>
              </tr>
            </tbody>
          </table>

          <div class="add">
            <h3>Usuário</h3>

            <form>
              <label for="usuario">Usuário</label>
              <input type="text" placeholder="Ex.: marianasilva" [(ngModel)]="usuario" name="usuario">

              <label for="nome">Nome</label>
              <input type="text" placeholder="Ex.: Mariana Silva"[(ngModel)]="nome" name="nome">

              <label for="senha">Senha</label>
              <input type="password" [(ngModel)]="senha" name="senha">
              <button (click)="adicionarUsuario()"> Salvar </button>

            </form>

          </div>
        </div>
      </div>
    </div>

  </DIV>

</div>
