h2 {
  text-align: left;
  font-size: 16px;
  color: rgb(109, 109, 109);
}

.principal {
  margin: 1rem 0  0 13rem;
  display: block;
  flex: 1;
  position: absolute;
}

.page2{
  display: inline-block;
}

table {
  margin: 1rem;
  padding: 0.2rem;
  background-color: white;
  color: rgb(44, 43, 43);
  display: grid;
  border-radius: 0.2rem;
  text-align: center;
  border-spacing: 20px;
  border-collapse: collapse;
  align-content: center;
  align-items: center;
  width: max-content;
}

th {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
tr:first-child {
  border-top: 2px;
}

tr:hover {
  background-color: #f5f5f5;
  /* Altera a cor de fundo ao passar o mouse sobre a linha */
}
td {
  font-size: 12px;
  font-family: 'Roboto Serif', serif;
  padding: 0.5rem;
  white-space: nowrap;
  border-top: solid 0.1rem rgb(224, 224, 224);
}

button {
  border: none;
  border-radius: 1rem;
  padding: 0.17rem 0.5rem;
  background-color: rgb(143, 174, 236);
  color: rgb(253, 253, 253);
  cursor: pointer;
}

/* Campo de busca */
.search-button {
  cursor: pointer;
}

.search {
  text-align: right;
  display: block;
}

input {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: rgb(235, 237, 243);
  border-radius: 0.8rem;
  padding: 0.2rem 0.8rem;
  width: 20%;
  border: none;
  outline: none;

}
input:focus {
  border: 1px solid blue;
}

.image {
  margin: 0.4rem;
  border: 1px solid #0026ff; /* Borda vermelha de 2px */
  width: 0.3rem; /* Largura do contêiner da imagem */
  height: 0.3rem; /* Altura do contêiner da imagem */
  border-radius: 50%; /* Define as bordas como redondas (círculo) */
  overflow: hidden; /* Oculta qualquer parte da imagem que exceda o contêiner */
}

.image {

  width: 100%; /* Ajusta a largura da imagem para preencher o contêiner */
  height: 100%; /* Ajusta a altura da imagem para preencher o contêiner */
  object-fit: cover; /* Faz a imagem preencher o contêiner sem distorcer */
}

img{
  width: 3rem; /* Ajusta a largura da imagem para preencher o contêiner */
  height: 3rem;

}
