.footer {
    display: flex-end;
    position: fixed;
    bottom: 0;
    width: 100%;

    align-items: end;
    text-align: center;
    justify-content: center;

    font-size: 0.9rem;

    background-color: aliceblue;

}

p {
    color: rgb(95, 127, 185);
    display: inline-flex;
}