<nav>
  <div class="container">
    <h1>Aniversariantes do Mês</h1>
    <table>
      <tbody>
        <tr class="aniversariante">
          <td>
            <span class="dt-aniversario">06/12</span>
            <div class="image-container">
              <img src="assets/foto/fabiana.avif" alt="">
            </div>

            <div class="aniversariante-descricao">
              <span class="nome">Fabiana</span>
              <span class="descricao">Suprimentos</span>
            </div>

          </td>
        </tr>

        <!-- <tr class="aniversariante">
          <td>
            <span class="dt-aniversario">06/12</span>
            <div class="image-container">
              <img src="assets/foto/daniel.jpg" alt="">
            </div>

            <div class="aniversariante-descricao">
              <span class="nome">Daniel</span>
              <span class="descricao">Tecnologia da Informação</span>
            </div>

          </td>
        </tr> -->

        <!-- <tr class="aniversariante">
          <td>
            <span class="dt-aniversario">06/12</span>
            <div class="image-container">
              <img src="assets/foto/denir.jpeg" alt="">
            </div>

            <div class="aniversariante-descricao">
              <span class="nome">Denir</span>
              <span class="descricao">Contabilidade</span>
            </div>

          </td>
        </tr>

        <tr class="aniversariante">
          <td>
            <span class="dt-aniversario">06/12</span>
            <div class="image-container">
              <img src="assets/foto/foto.png" alt="">
            </div>

            <div class="aniversariante-descricao">
              <span class="nome">Juliana</span>
              <span class="descricao">Jurídico</span>
            </div>

          </td>
        </tr> -->

      </tbody>
    </table>

  </div>
</nav>
