<nav>
  <div class="container">
    <h1>Aniversariantes do Mês</h1>
    <table>
      <tbody>
        <tr class="aniversariante">
          <td>
            <span class="dt-aniversario">06/12</span>
            <div class="image-container">
              <img src="assets/foto/fabiana.avif" alt="">
            </div>

            <div class="aniversariante-descricao">
              <span class="nome">Fabiana</span>
              <span class="descricao">Suprimentos</span>
            </div>
          </td>
        </tr>

      </tbody>
    </table>
  </div>
</nav>
