.pag {
  display: flex;
}

.area {
  margin: 2rem;
  padding: 0.9rem;
  display: block;
  background-color: rgb(243, 243, 243);
  border-radius: 0.3rem;
  width: 50rem;
  position: absolute;
}

.area1 {
  background-color: white;
  padding: 1rem;
}
