<div class="pag">
  <div>
    <app-nav-admin></app-nav-admin>
  </div>

  <DIV>
    <div class="area">

      <div class="setor">
        <h2>Setores</h2>
        <table>
          <tr>
            <th>Setor</th>
            <th>Sigla</th>
          </tr>
          <tr>
            <td>Orçamento</td>
            <td>OR</td>
          </tr>
          <tr>
            <td>Orçamento</td>
            <td>OR</td>
          </tr>
          <tr>
            <td>Orçamento</td>
            <td>OR</td>
          </tr>
          <tr>
            <td>Orçamento</td>
            <td>OR</td>
          </tr>
        </table>

        <div class="add">
          <h3>Setor</h3>
          <form action="">
            <label for="name">Setor</label>
            <input type="text">
            <label for="sigla">Sigla</label>
            <input type="text">
          </form>
          <button>Salvar</button>
        </div>

      </div>
      <div class="ramal">
        <h2>Ramais</h2>
        <table>
          <tr>
            <th>Setor</th>
            <th>Ramal</th>
          </tr>
          <tr>
            <td>Orçamento</td>
            <td>9020</td>
          </tr>
          <tr>
            <td>Financeiro</td>
            <td>9025</td>
          </tr>
          <tr>
            <td>Contabilidade</td>
            <td>9030</td>
          </tr>
          <tr>
            <td>Financeiro</td>
            <td>9012</td>
          </tr>
        </table>
      </div>

    </div><!-- Fim area -->

  </DIV>

</div>
