<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <h1 class="title">AGENDA DIGITAL</h1>


  <div class="page">

    <div class="menu">
      <span>HOME</span>
      <span>FUNCIONÁRIOS</span>
      <span>CONFIGURAÇÕES</span>
      <span>SOBRE</span>
    </div>

    <table>
      <tr>
        <th>Nome</th>
        <th>Email</th>
        <th>Celular</th>

      </tr>
      <tr>
        <td>Jaqueline</td><td>jaqueline.habitacional.net.br</td><td>79999948831</td>
      </tr>
      <tr>
        <td>Jaqueline</td><td>jaqueline.habitacional.net.br</td><td>79999948831</td>
      </tr>
      <tr>
        <td>Jaqueline</td><td>jaqueline.habitacional.net.br</td><td>79999948831</td>
      </tr>
      <tr>
        <td>Jaqueline</td><td>jaqueline.habitacional.net.br</td><td>79999948831</td>
      </tr>
      <tr>
        <td>Jaqueline</td><td>jaqueline.habitacional.net.br</td><td>79999948831</td>
      </tr>
    </table>
    <button> Próxima Página >></button>
  </div>




</body>

</html>
