<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto+Serif:opsz,wght@8..144,500&display=swap" rel="stylesheet">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Candal&display=swap" rel="stylesheet">
</head>

<body>



  <div class="head">
    <div class="title">
      <p>AGENDA DIGITAL</p>
    </div>

    <div class="menu">
      <a>HOME</a>
      <a>ADMIN</a>
      <a>SOBRE</a>
    </div>

  </div>

<div class="principal">
  <div class="search">
    <input type="text" placeholder="Pesquisar...">
    <button class="search-button">Buscar</button>

    

  <div class="page">
    <h2>Contatos (500)</h2>
    <table>
      <tr>
        <th>Nome</th>
        <th>Email</th>
        <th>Telefone</th>
      </tr>
      <tr>
        <td>Jaqueline</td>
        <td>jaqueline.habitacional.net.br</td>
        <td>(79) 99994-8831</td>
      </tr>
      
      <!-- <tr>
        <td>{{pessoa.nome_pessoa}}</td>
        <td>{{pessoa.email}}</td>
        <td>{{pessoa.telefone}}</td>
      </tr> -->

    </table>
    <button> Próxima Página >></button>
  </div>
  </div>






</div>

  


</body>

</html>