<form action="">
    <label for="name">Nome pessoa:</label>
    <input type="text">
    <label for="email">E-mail:</label>
    <input type="text">
    <label for="cel_corporativo">Celular corporativo:</label>
    <input type="text">
    <label for="cel_pessoal">Celular pessoal:</label>
    <input type="text">
    <label for="telefone">Telefone:</label>
    <input type="text">

    <label for="estado">Estado:</label>
    <input type="text">
    <label for="uf">UF:</label>
    <input type="text">
    <label for="logradouro">Logradouro:</label>
    <input type="text">
    <label for="bairro">Bairro:</label>
    <input type="text">
    <label for="cep">CEP:</label>
    <input type="text">

    <div class="buttons">
        <button>Cadastrar</button>
        <button>Limpar</button>
    </div>
</form>