<div class="sobre-container">
  <div class="sobre-card">
    <h2 class="sobre-titulo">📘 Sobre o Sistema</h2>

    <p><strong>Nome do Sistema:</strong> Agenda Digital Empresarial</p>
    <p><strong>Versão:</strong> 1.0.0</p>
    <p><strong>Atualizado em:</strong> 21/06/2025</p>

    <hr>

    <h4 class="sobre-subtitulo">🔍 Descrição</h4>
    <p>
      A Agenda Digital Empresarial é uma aplicação web desenvolvida para facilitar o acesso aos contatos de funcionários
      dentro de um ambiente organizacional.
    </p>

    <h4 class="sobre-subtitulo">🚀 Principais Funcionalidades</h4>
    <ul>
      <li>Consulta de contatos por nome;</li>
      <li>Exibição dos aniversariantes do mês;</li>
      <li>Visualização de dados como e-mail, telefones e ramal;</li>
      <li>Login para acessar módulo adminstrativo;</li>
      <li>Área administrativa com permissões para cadastrar, editar e excluir contatos, setor, ramal e usuário;</li>
      <li>Controle de visualização de dados confidenciais.</li>
    </ul>

    <h4 class="sobre-subtitulo">⚙️ Tecnologias Utilizadas</h4>
    <ul>
      <li>Angular (Frontend)</li>
      <li>Spring Boot (Backend)</li>
      <li>PostgreSQL (Banco de Dados)</li>
      <li>API do IBGE (Estados e Cidades)</li>
    </ul>

    <h4 class="sobre-subtitulo">👨‍💻 Desenvolvido por</h4>
    <p>Mariana de Jesus Silva</p>
    <div class="sobre-links">
      <a href="https://github.com/mariana-js/" target="_blank" rel="noopener noreferrer">GitHub</a>
      <a href="https://www.linkedin.com/in/mariana-js/" target="_blank" rel="noopener noreferrer">LinkedIn</a>
    </div>
  </div>
</div>
