nav {
  display: flex;
  position: relative;
  margin: 1rem;
  margin-bottom: -2rem;
  justify-content: center;
}

nav img {
  max-width: 4rem;
  max-height: 4rem;
  width: auto;
  height: auto;
}

.container {
  background-color: rgb(255, 255, 142);
  border-radius: 1rem;
  padding: 0.5rem 1rem 0.2rem 1rem;

}

.container h1 {
  color: rgb(80, 80, 243);
  font-size: 1rem;
  text-align: center;
}
