<div class="pag">
  <div>
    <app-nav-admin></app-nav-admin>
  </div>

  <DIV>
    <div class="area admin">
      <h2><img src="assets/Imagens/setor.png" alt="setor">Setores</h2>

      <div class="container">

        <div class="tabela">
          <table>

            <thead>
              <tr>
                <th class="sigla">Sigla</th>
                <th>Setor</th>
                <th class="lixeira"></th>
              </tr>
            </thead>

            <tbody>
              <tr *ngFor="let setor of setores" (click)="selecionarSetor(setor)">
                <td class="sigla">{{setor.sigla_setor}}</td>
                <td class="truncate">{{setor.nome_setor}}</td>
                <td class="lixeira lix"><img src="assets/img/lixo.png" alt="setor" (click)="excluirSetor(setor)"></td>
              </tr>
            </tbody>

          </table>
          <div class="add">
            <form>
              <div class="caixa">
                <label for="name" style="padding-right: 0.8rem;
                padding-left: 0.5rem;">Setor</label>
                <input type="text" placeholder="Ex.: Orçamento" [(ngModel)]="setor" name="setor">
              </div>

              <div class="caixa">
                <label for="sigla" style="padding-right: 1.3rem;
                padding-left: 0.5rem;">Sigla</label>
                <input type="text" placeholder="Ex.: OR" [(ngModel)]="sigla" name="sigla">
              </div>

              <div class="button-add">
                <img class="clear" src="assets/img/borracha.png" alt="limpar" (click)="clear()">
                <button (click)="adicionarSetor()"> Salvar </button>
              </div>
            </form>

          </div>
        </div>



      </div>
    </div>


  </DIV>

</div>
