<div class="pag">
  <div>
    <app-nav-admin></app-nav-admin>
  </div>

  <DIV>
    <div class="area">
      <div class="area1">
        <h2><img src="assets/Imagens/setor.png" alt="setor">Setores</h2>
        <div class="container">

          <div class="tabela">

            <table>

              <thead>
                <tr>
                  <th>Sigla</th>
                  <th>Setor</th>
                  <th></th>
                </tr>
              </thead>

              <tbody>
                <tr *ngFor="let setor of setores" (click)="selecionarSetor(setor)">
                  <td>{{setor.sigla_setor}}</td>
                  <td>{{setor.nome_setor}}</td>
                  <td><img src="assets/img/lixo.png" alt="setor" (click)="excluirSetor(setor)"></td>
                </tr>
              </tbody>

            </table>
          </div>

          <div class="add">
            <h3>Setor</h3>

            <form>
              <fieldset>
                <label for="name">Setor</label>
                <input type="text" placeholder="Ex.: Orçamento" [(ngModel)]="setor" name="setor"> <br>
                <label for="sigla">Sigla</label>
                <input type="text" placeholder="Ex.: OR" [(ngModel)]="sigla" name="sigla">
                <br>
                <button (click)="adicionarSetor()"> Salvar </button>
              </fieldset>
            </form>

          </div>

        </div>
      </div>
    </div>

  </DIV>

</div>
