<h2><img src="assets/Imagens/setor.png" alt="setor">Setores</h2>
        <div class="container">

          <table>
            <tr>
              <th>Setor</th>
              <th>Sigla</th>
            </tr>
            <tr>
              <td>Orçamento</td>
              <td>OR</td>
            </tr>
            <tr>
              <td>Tecnologia da Informação</td>
              <td>TI</td>
            </tr>
            <tr>
              <td>Financeiro</td>
              <td>FI</td>
            </tr>
            <tr>
              <td>Jurídico</td>
              <td>DJ</td>
            </tr>
          </table>

          <div class="add">
            <h3>Setor</h3>

            <form>
              <label for="name">Setor</label>
              <input type="text" placeholder="Ex.: Orçamento">
              <label for="sigla">Sigla</label>
              <input type="text" placeholder="Ex.: OR">
              <button> Salvar </button>
            </form>

          </div>

        </div>