<div class="pag">
  <div>
    <app-nav-admin></app-nav-admin>
  </div>

  <DIV>
    <div class="area">
      <div class="area1">
        <div class="Inicio">
          <form action="/pessoa" method="POST" enctype="multipart/form-data">
            <h2> <img src="assets/Imagens/adicionar-contato-b.png" alt="add-contato"> Adicionar Contato</h2>

            <fieldset>

              <div class="field-group">
                <div class="field-chekbox">
                  <input id="boxPrivate" type="checkbox" name="boxPrivate" [(ngModel)]="boxPrivate">
                  <label for="box-private">Privado</label>
                </div>

                <div class="field-chekbox">
                  <input id="box_fun" type="checkbox" name="box_fun" [(ngModel)]="box_fun">
                  <label for="box-funcionario">Funcionario</label>
                </div>
              </div>

              <div class="field-group">
                <div class="field">
                  <label for="name">Nome *</label>
                  <input type="text" required [(ngModel)]="nome_pessoa" name="nome_pessoa">
                </div>

              </div>

              <div class="field-group">
                <div class="field">
                  <label for="mail">E-mail *</label>
                  <input type="text" name="email" required [(ngModel)]="email">
                </div>
                <div class="field">
                  <label for="cel">Celular 1 *</label>
                  <input type="tel" required [(ngModel)]="celular1" name="celular1">
                </div>
              </div>

              <div class="field-group">
                <div class="field">
                  <label for="cel-corp">Celular 2</label>
                  <input data-mask="(00) 0000-0000" data-mask-selectonfocus="true" type="tel" required
                    [(ngModel)]="celular2" name="celular2">
                </div>
                <div class="field">
                  <label for="cel-corp">Telefone </label>
                  <input [(ngModel)]="telefone" name="telefone" type="tel" name="tel" required>
                </div>
              </div>

              <div class="field-group">

                <div class="field">
                  <label for="date">Data de Nascimento</label>
                  <input type="date" [(ngModel)]="data_nascimento" name="data_nascimento">
                </div>

                <div class="field">
                  <label for="Imagem">Foto</label>
                  <input type="file" name="photo_image" alt="submit">
                </div>
              </div>

              <div class="field-group">
                <div class="field">
                  <label for="sector">Setor</label>
                  <select name="sector" required onchange disabled (change)="selecionarSetor($event)"
                    [(ngModel)]="setor">
                    <option value="op"> Selecione o Setor </option>
                    <option value="{{setor.id_setor}}" *ngFor="let setor of setores">{{setor.nome_setor}}</option>


                  </select>

                </div>

                <div class="field">
                  <label for="Ramal">Ramal</label>
                  <select name="ramal" required onchange disabled (change)="selecionarRamal($event)"
                    [(ngModel)]="nramal">
                    <option value="op2"> Selecione o Ramal </option>
                    <option value="{{ramal.id_ramal_setor}}" *ngFor="let ramal of ramaisFiltrados">
                      {{ramal.id_ramal_setor}}</option>
                  </select>

                </div>
              </div>

              <fieldset>
                <legend>
                  <h2>Endereço</h2>
                </legend>
              </fieldset>

              <div class="field-group">
                <div class="field">
                  <label for="state">Estado</label>
                  <select name="uf">
                  <option value="estado" > Selecione o Estado</option>
                  </select>

                  <input type="hidden" name="state">

                </div>

                <div class="field">
                  <label for="city">Cidade</label>
                  <select name="city" disabled required>
                    <option value="">Selecione a Cidade</option>
                  </select>
                </div>

              </div>

              <div class="field-group">
                <div class="field">
                  <label for="cep">CEP</label>
                  <input type="text" name="cep" [(ngModel)]="cep">
                </div>
                <div class="field">
                  <label for="cep">Bairro</label>
                  <input type="text" name="bairro" [(ngModel)]="bairro">
                </div>
              </div>

              <div class="field-group">


                <div class="field">
                  <label for="bairro">Logradouro</label>
                  <input type="text" name="logradouro" [(ngModel)]="logradouro">
                </div>
                <div class="field">
                  <label for="numero">Número</label>
                  <input type="text" name="numero" [(ngModel)]="numero">
                </div>
              </div>
              <button type="submit" value="submit" (click)="adicionarContato()">Salvar</button>
            </fieldset>

          </form>


        </div>
      </div>

    </div>
