* {
    color: rgb(109, 109, 109);
}

form {
    background-color: white;
    margin: 0;
    padding: 2rem;
    border-radius: 8px;
    max-width: auto;
}

h2 {
    margin: -1rem;
    font-size: 18px;
    color: rgb(109, 109, 109);
    display: flex;
    justify-items: start;
    align-items: center;
}

img {
    padding-right: 0.4rem;
}

form h1 {
    font-size: 10rem;
}

form fieldset {
    margin-top: 2rem;
    border: 0;
}

form legend {
    margin-bottom: 1rem;
    font-size: 1rem;
}

form .field {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

form .field-group {
    display: flex;
}


form .field-chekbox {
    margin-top: 0;
    max-width: 150px;

}


form input,
form select {
    background-color: #f0f0f5;
    border: 0;
    padding: 0.5rem;
    font-size: 12px;
    border-radius: 8px;
    outline: none;
}

form select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

form label {
    font-size: 14px;
    margin-bottom: 1rem;
    font-weight: bold;
}

form .field-chekbox label {
    font-size: 14px;
    display: flex;
    margin-top: -20px;
    margin-left: 1.2rem;
    padding-right: 1rem;
}

form .field-chekbox input {
    margin-left: 0.1rem;
}

form .field-group .field+.field {
    margin-left: 2rem;
}

form button {
    width: 10rem;
    height: 2rem;

    background-color: rgb(98, 131, 190);
    border-radius: 8px;

    color: white;
    font-weight: bold;
    font-size: 16px;

    border: 0;

    margin-top: 1rem;

    transition: background-color 400ms;

    cursor: pointer;
}

form button:hover {
    background-color: rgb(12, 37, 92);
}