.ramal {
  width: 0.1%;
  padding-left: 1rem;
}

select {
    font-size: 13px;
    color: #757575;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
    width: 72%;
    height: 1.25rem;
    margin-left: 0.3rem;
    cursor: pointer;
}

select:hover{
  border: 1px solid rgb(69, 69, 145);
  color:rgb(69, 69, 145);

}

  /* Estilizando as opções da caixa de seleção */
option {
    background-color: #f8f8f8;
    color: #333;
    cursor: pointer;
}
