<div class="pag  main-content">
  <div>
    <app-nav-admin></app-nav-admin>
  </div>

  <DIV>
    <div class="area admin">
      <h2 id="ramal"><img src="assets/Imagens/ramal-b.png" alt="ramal">Ramais</h2>
      <div class="container">

        <div class="tabela">

            <table>
              <thead>
                <tr>
                  <th class="ramal">Ramal</th>
                  <th>Setor</th>
                  <th class="lixeira"></th>
                </tr>
              </thead>
              <tbody>

                <tr *ngFor="let setorramal of setor_ramais" (click)="selecionarSetorRamal(setorramal)">
                  <td class="ramal">{{setorramal.id_ramal_setor}}</td>
                  <td class="truncate">{{setorramal.setor}}</td>
                  <td class="lixeira lix"><img src="assets/img/lixo.png" alt="setor"
                      (click)="excluirSetorRamal(setorramal)"></td>
                </tr>
                <tr *ngIf="setor_ramais.length === 0" class="no-data">
                  <td colspan="3">Não há setores cadastrados.</td>
                </tr>
                <tr *ngIf="setor_ramais.length < 5 && setor_ramais.length !== 0">
                  <td colspan="3" [ngStyle]="{'height': getTdHeight(setor_ramais.length)}"></td>
                </tr>
              </tbody>
            </table>

          <div class="add">

            <form>

              <div class="caixa">

                <label for="name" style="padding-right: 0.8rem;
                padding-left: 0.4rem;">Setor</label>

                <select id="setores" name="setor" (change)="onChange($event)" name="setor" [(ngModel)]="setor">
                  <option value="opcao1">Selecionar</option>
                  <option *ngFor="let setor of setores" value={{setor.id_setor}}>{{ setor.nome_setor }}</option>
                </select>
              </div>
              <div class="caixa">

                <label for="ramal" style="padding-right: 0.7rem;
                padding-left: 0.4rem;">Ramal</label>
                <input type="text" placeholder="Ex.: 9090" [(ngModel)]="ramal" name="ramal"
                  [disabled]="ramalDesabilitado">
              </div>

              <div class="button-add">
                <img class="clear" src="assets/img/borracha.png" alt="limpar" (click)="clear()">
                <button (click)="salvar()"> Salvar </button>
              </div>


            </form>

          </div>
        </div>
      </div>
    </div>

  </DIV>

</div>
